:root {
    background-color: #54536E;
    font-family: 'Monocraft';
    image-rendering: pixelated;
}
button {
    all: unset;
}
input {
    all: unset;
}
#inputbox {
    display: flex;
    flex-wrap: wrap;
    column-gap: 4px;
    margin-bottom: 4px;
    justify-content: center;
}
#field {
    display: flex;
    justify-self: center;
    flex-direction: column;
    row-gap: 0px;
}
#debug {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #00000050;
    color: #E1E1E8;
    max-width: 40%;
    width: min-content;
    overflow-wrap: break-word;
    pointer-events: none;
    z-index: 1001;
}
.row {
    display: flex;
    column-gap: 4px;
}
.button {
    border: none;
    width: 64px;
    height: 64px;
    margin: 0px 0px -12px 0px;
    background-image: url(sprites/gameplay/button.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    cursor: if(style(--is-active: 1): pointer; else: default);
}
.button:hover {
    background-image: if(style(--is-active: 1): url(sprites/gameplay/button_hold.png); else: url(sprites/gameplay/button.png));
}
.button:active {
    background-image: if(style(--is-active: 1): url(sprites/gameplay/button_active.png); else: url(sprites/gameplay/button.png));
}
.button_low {
    border: none;
    width: 64px;
    height: 64px;
    margin: 0px 0px -12px 0px;
    background-image: url(sprites/gameplay/button_low.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    cursor: if(style(--is-active: 1): pointer; else: default);
}
.button_low:hover {
    background-image: if(style(--is-active: 1): url(sprites/gameplay/button_hold.png); else: url(sprites/gameplay/button_low.png));
}
.button_pressed {
    border: none;
    width: 64px;
    height: 64px;
    margin: 0px 0px -12px 0px;
    background-image: url(sprites/gameplay/button_pressed.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.button_flagged {
    border: none;
    width: 64px;
    height: 64px;
    margin: 0px 0px -12px 0px;
    background-image: url(sprites/gameplay/button_flagged.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    cursor: if(style(--is-active: 1): pointer; else: default);
}
.button_flagged:hover {
    background-image: if(style(--is-active: 1): url(sprites/gameplay/button_flagged_hold.png); else: url(sprites/gameplay/button_flagged.png));
}
.locked_button {
    border: none;
    width: 64px;
    height: 64px;
    margin: 0px 0px -12px 0px;
    background-image: url(sprites/gameplay/button_locked.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    cursor: default;
}
.locked_button:hover {
    background-image: url(sprites/gameplay/button_locked.png);
}
.locked_button_flagged {
    border: none;
    width: 64px;
    height: 64px;
    margin: 0px 0px -12px 0px;
    background-image: url(sprites/gameplay/button_locked_flagged.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    cursor: default;
}
.locked_button_flagged:hover {
    background-image: url(sprites/gameplay/button_locked_flagged.png);
}
.wall_button {
    border: none;
    width: 64px;
    height: 64px;
    margin: 0px 0px -12px 0px;
    background-image: url(sprites/gameplay/wall.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.bg {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.num1 {background-image: url(sprites/num/1.png)}
.num2 {background-image: url(sprites/num/2.png)}
.num3 {background-image: url(sprites/num/3.png)}
.num4 {background-image: url(sprites/num/4.png)}
.num5 {background-image: url(sprites/num/5.png)}
.num6 {background-image: url(sprites/num/6.png)}
.num7 {background-image: url(sprites/num/7.png)}
.num8 {background-image: url(sprites/num/8.png)}
.bgblank {
    pointer-events: none;
    position: relative;
}
.bomb {
    background-image: url(sprites/gameplay/bomb.png);
    pointer-events: none;
    position: relative;
}
.megabomb {
    background-image: url(sprites/gameplay/megabomb.png);
    pointer-events: none;
    position: relative;
}
.heartpickup {
    background-image: url(sprites/gameplay/heart_small.png);
    cursor: if(style(--is-active: 1): pointer; else: default);
}
.heartpickup:hover {
    background-image: if(style(--is-active: 1): url(sprites/gameplay/heart_small_active.png); else: url(sprites/gameplay/heart_small.png));
}
.blankheartpickup {
    background-image: url(sprites/gameplay/heart_blank_small.png);
    cursor: if(style(--is-active: 1): pointer; else: default);
}
.blankheartpickup:hover {
    background-image: if(style(--is-active: 1): url(sprites/gameplay/heart_blank_small_active.png); else: url(sprites/gameplay/heart_blank_small.png));
}
.eyepickup {
    background-image: url(sprites/gameplay/eye.png);
    cursor: if(style(--is-active: 1): pointer; else: default);
}
.eyepickup:hover {
    background-image: if(style(--is-active: 1): url(sprites/gameplay/eye_active.png); else: url(sprites/gameplay/eye.png));
}
.keypickup {
    background-image: url(sprites/gameplay/key.png);
    cursor: if(style(--is-active: 1): pointer; else: default);
}
.keypickup:hover {
    background-image: if(style(--is-active: 1): url(sprites/gameplay/key_active.png); else: url(sprites/gameplay/key.png));
}
.coinpickup {
    background-image: url(sprites/gameplay/coin_pickup.png);
    cursor: if(style(--is-active: 1): pointer; else: default);
}
.coinpickup:hover {
    background-image: if(style(--is-active: 1): url(sprites/gameplay/coin_pickup_active.png); else: url(sprites/gameplay/coin_pickup.png));
}
.bagpickup {
    background-image: url(sprites/gameplay/coin_bag.png);
    cursor: if(style(--is-active: 1): pointer; else: default);
}
.bagpickup:hover {
    background-image: if(style(--is-active: 1): url(sprites/gameplay/coin_bag_active.png); else: url(sprites/gameplay/coin_bag.png));
}
.randompickup {
    cursor: if(style(--is-active: 1): pointer; else: default);
    background-size: cover;
    background-image: url(sprites/gameplay/random.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    animation: random 0.5s steps(6) infinite;
}
.randompickup:hover {
    background-image: if(style(--is-active: 1): url(sprites/gameplay/random_active.png); else: url(sprites/gameplay/random.png));
}
@keyframes random {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: -384px 0px;
  }
}

.button_toggle {
    border: none;
    width: 64px;
    height: 64px;
    margin: 0px 0px -12px 0px;
    background-image: url(sprites/gameplay/button_flagged.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}
.button_toggle:hover {
    background-image: url(sprites/gameplay/button_flagged_hold.png);
}
.button_toggle_active {
    border: none;
    width: 64px;
    height: 64px;
    margin: 0px 0px -12px 0px;
    background-image: url(sprites/gameplay/button_flagged_pressed.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline;
}
.button_toggle_active:hover {
    background-image: url(sprites/gameplay/button_flagged_pressed_hold.png);
}
.refresh {
    border: none;
    width: 64px;
    height: 64px;
    background-image: url(sprites/gui/refresh.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline;
}
.refresh:hover {
    background-image: url(sprites/gui/refresh_hold.png);
}
.refresh:active {
    background-image: url(sprites/gui/refresh_active.png);
}

.textbox {
    border: none;
    font-family: monocraft;
    font-size: 28px;
    color: #333349;
    width: 76px;
    height: 40px;
    padding: 12px;
    background-image: url(sprites/gui/textbox.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline;
}
.rowsinput {background-image: url(sprites/gui/textbox_rows.png)}
.rowsinput.disabledinput {
    background-image: url(sprites/gui/textbox_rows_disabled.png);
    pointer-events: none;
}
.columnsinput {background-image: url(sprites/gui/textbox_columns.png)}
.columnsinput.disabledinput {
    background-image: url(sprites/gui/textbox_columns_disabled.png);
    pointer-events: none;
}
.bombsinput {background-image: url(sprites/gui/textbox_bombs.png)}
.bombsinput.disabledinput {
    background-image: url(sprites/gui/textbox_bombs_disabled.png);
    pointer-events: none;
}
.heartsinput {background-image: url(sprites/gui/textbox_hearts.png)}
.heartsinput.disabledinput {
    background-image: url(sprites/gui/textbox_hearts_disabled.png);
    pointer-events: none;
}

#endscreen {
    border: none;
    width: 192px;
    height: 64px;
    margin-top: -16px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    justify-self: center;
    position: absolute;
    pointer-events: none;
}
.screen_win {
    display: block;
    background-image: url(sprites/gui/victory.png);
    z-index: 999;
}
.screen_lose {
    display: block;
    background-image: url(sprites/gui/defeat.png);
    z-index: 999;
}

#hearts {
    display: flex;
    column-gap: 4px;
    width: max-content;
    justify-content: left;
    flex-direction: row;
}
.heart {
    width: 64px;
    height: 64px;
    margin: 0px 0px 0px -4px;
    background-image: url(sprites/gui/heart.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.heart_empty {
    width: 64px;
    height: 64px;
    margin: 0px 0px 0px -4px;
    background-image: url(sprites/gui/heart_empty.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.heart_blank {
    width: 64px;
    height: 64px;
    margin: 0px 0px 0px -4px;
    background-image: url(sprites/gui/heart_blank.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#coinamount {
    border: none;
    font-family: monocraft;
    font-size: 28px;
    color: #333349;
    width: 136px;
    height: 40px;
    padding: 12px 12px 12px 64px;
    background-image: url(sprites/gui/coinamount.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: inline;
}
#coinamount.disabled {
    display: none;
    pointer-events: none;
}

.explosion {
    width: 160px;
    height: 160px;
    position: absolute;
    left: 24px;
    top: 24px;
    background-size: cover;
    background-image: url(sprites/gameplay/explosion.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    animation: explosion 0.5s steps(11);
    pointer-events: none;
    margin: -64px;
}
@keyframes explosion {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: -1760px 0px;
  }
}

#settings {
    border: none;
    width: 64px;
    height: 64px;
    background-image: url(sprites/gui/settings.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}
#settings:hover {
    background-image: url(sprites/gui/settings_hold.png);
}
#settings:active {
    background-image: url(sprites/gui/settings_active.png);
}
.inputrow {
    display: flex;
    margin: 0px -4px -4px 0px;
}
.dropdown {
    position: relative;
}
.menu {
    position: absolute;
    left: 0px;
    top: calc(100% - 16px);
    opacity: 0;
    pointer-events: none;
    z-index: 1000;
}
.dropdown.activedropdown > #settings + .menu {
    opacity: 1;
    pointer-events: auto;
}
.toggle_container {
    border: none;
    display: flex;
    width: max-content;
}
.toggle_text {
    font-size: 28px;
    color: #333349;
    height: 40px;
    width: 268px;
    padding: 12px;
    background-image: url(sprites/gui/textbox.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.toggle {
    border: none;
    width: 96px;
    height: 64px;
    margin: 0px 0px 0px 0px;
    background-image: url(sprites/gui/toggle_off.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}
.toggle_on {
    background-image: url(sprites/gui/toggle_on.png);
}

#floor {
    border: none;
    font-family: monocraft;
    font-size: 28px;
    color: #333349;
    width: 244px;
    height: 40px;
    padding: 12px 12px 12px 12px;
    background-image: url(sprites/gui/textbox.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: inline;
    text-wrap-mode: nowrap;
}
#floor.disabled {
    display: none;
    pointer-events: none;
}

@font-face {
    font-family: 'Monocraft';
    src: url('https://cdn.jsdelivr.net/gh/IdreesInc/Monocraft@main/dist/Monocraft-ttf/Monocraft.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



.button_selector {
    display: flex;
}

#blank_button {
    background-image: url(sprites/gameplay/button.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
    margin: 0px 8px 8px 0px;
    cursor: pointer;
}
#blank_button:hover {
    background-image: url(sprites/gameplay/button_hold.png);
}
#blank_button:checked {
    background-image: url(sprites/gameplay/button_hold.png);
}

#wall_button {
    background-image: url(sprites/gameplay/wall.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
    margin: 0px 8px 8px 0px;
    cursor: pointer;
}
#wall_button:hover {
    background-image: url(sprites/gameplay/wall_active.png);
}
#wall_button:active {
    background-image: url(sprites/gameplay/wall_active.png);
}
#wall_button:checked {
    background-image: url(sprites/gameplay/wall_active.png);
}

#locked_button {
    background-image: url(sprites/gameplay/button_locked.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
    margin: 0px 8px 8px 0px;
    cursor: pointer;
}
#locked_button:hover {
    background-image: url(sprites/gameplay/button_locked_active.png);
}
#locked_button:active {
    background-image: url(sprites/gameplay/button_locked_active.png);
}
#locked_button:checked {
    background-image: url(sprites/gameplay/button_locked_active.png);
}

.editrow {
    display: flex;
    column-gap: 0px;
}
.editbutton {
    border: none;
    width: 64px;
    height: 64px;
    margin: 0px 0px 0px 0px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}
.ed_button {
    background-image: url(sprites/gameplay/button.png);
}
.ed_button:hover {
    background-image: url(sprites/gameplay/button_hold.png);
}
.ed_locked_button {
    background-image: url(sprites/gameplay/button_locked.png);
}
.ed_locked_button:hover {
    background-image: url(sprites/gameplay/button_locked_active.png);
}
.ed_wall_button {
    background-image: url(sprites/gameplay/wall.png);
}
.ed_wall_button:hover {
    background-image: url(sprites/gameplay/wall_active.png);
}

#button_export {
    border: none;
    width: 64px;
    height: 64px;
    margin: 0px 0px 0px 0px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    background-image: url(sprites/gui/export.png);
    position: relative;
}
#button_export:hover {
    background-image: url(sprites/gui/export_hold.png);
}
#button_export:active {
    background-image: url(sprites/gui/export_active.png);
}
#button_reset {
    border: none;
    width: 64px;
    height: 64px;
    margin: 0px 0px 0px 0px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    background-image: url(sprites/gui/refresh.png);
    position: relative;
}
#button_reset:hover {
    background-image: url(sprites/gui/refresh_hold.png);
}
#button_reset:active {
    background-image: url(sprites/gui/refresh_active.png);
}
#button_play {
    border: none;
    width: 64px;
    height: 64px;
    margin: 0px 0px 0px 0px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    background-image: url(sprites/gui/play.png);
    position: relative;
}
#button_play:hover {
    background-image: url(sprites/gui/play_hold.png);
}
#button_play:active {
    background-image: url(sprites/gui/play_active.png);
}

.text_export {
    position: absolute;
    left: 68px;
    top: 0px;
    pointer-events: none;
    font-size: 14px;
    color: #E1E1E8;
    opacity: 0;
}
.text_animation {
    opacity: 0;
    color: #E1E1E8;
    animation: opacity 1.0s;
}

@keyframes opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}